.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.centered-table, .listed-product {
  width: 100%;
  border-collapse: collapse;
}

.centered-table th, .centered-table td {
  font-size: 12px;
  font-weight: 500;
  color: black;
  padding: 8px;
  text-align: center; /* Center align text in header and body cells */
}

 .listed-product th, .listed-product td {
  font-size: 12px;
  font-weight: 500;
  color: black;
  padding: 8px;
  text-align: center; /* Center align text in header and body cells */
}


.add_bon {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background-color: white;
 padding: 10px;
 border-radius: 8px;
 width: 409px;
 height: 374px;
 
}

.add_bon .chart_block {
  background-color: rgba(207, 235, 216, 1);
  width: 155px;
  height: 155px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 80px;
}

.add_bon div span {
  color: rgba(113, 113, 113, 1);
  font-size: 17px;
  font-weight: 500;
}
.centered-table td:nth-child(3) div { 
  background-color: rgba(220, 225, 221, 1);
  border-radius: 10px;
  padding: 7px;
}

.centered-table thead {
  border-bottom: 1px solid rgba(230, 230, 230, 1);
  margin-bottom: 10px;
}

.listed-product thead {
  margin-bottom: 10px;
}

.centered-table th {
  padding-top: 18px;
  background-color: black;
  padding-bottom: 18px;
  font-weight: 500; 
  font-size: 14px;
  background-color: #f2f2f2;
  color: rgba(129, 129, 129, 1);
}

.listed-product th {
  padding-top: 18px;
  background-color: black;
  padding-bottom: 18px;
  font-weight: 500; 
  font-size: 14px;
  background-color: #f2f2f2;
  color: rgba(129, 129, 129, 1);
}

.background {
  position: relative;
  width: 100%; /* Adjust as needed */
  height: 100vh; /* Adjust as needed */
}

.background::before {
  content: '';
  background-image: url('./Assets/Image-BG.svg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5; /* Set opacity */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Shadow on left, right, and bottom */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure the background is behind the content */
}

.menu-lists {
  border-bottom: 1px solid rgba(16, 154, 61, 1);
  padding-left: 0px;
  padding-block: 20px;
  width: 100%;
  >div {
    display: flex;
    flex-direction: row;
    align-items: center;
    >span {
      color: white;
      font-size: 14px;
     font-weight: 400;
      margin-left: 15px;
    }
  }
}

.top_bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 50px;
  padding-top: 15px;

  .icon_green {
    background-color: rgba(16, 154, 61, 1);
    border-radius: 6px;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .add_style {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 152px;
    height: 47px;
    border-radius: 6px;
    margin-inline: 10px;
    justify-content: flex-start;
    padding-left: 10px;
     >span {
      font-size: 14px;
      color: white;
      font-weight: 700;
      margin-left: 10px;
     }

  }

  .add_style.red {
    background-color: red;
}
.add_style.green {
  background-color: rgba(2, 135, 45, 1);
}

.search_div {
  border-right: 1px solid rgba(217, 217, 217, 1);
  justify-content: center;
  align-items: center;
  display: flex;
  padding-right: 10px;
  flex-direction: row;
}
}

.product_card {
  background-color: white;
  width: 225px;
  height: 255px;
  border-radius: 10px;
  padding: 12px;
  box-shadow: 0px 3.96px 3.96px 0px rgba(236, 236, 236, 0.25);
  >b{
    font-size: 14px;
  }
  >div>p {
    font-size: 14px;
    font-weight: 500;
    color: rgba(143, 143, 143, 1);
  }
}

.product_achat {
  background-color: white;
  width: 255px;
  height: 325px;
  border-radius: 10px;
  padding: 12px;

  .bolc_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .block-images {
    background-color: rgba(232, 232, 232, 1);
    justify-content: center;
    align-items: center;
    height: 192px;
    display: flex;
    flex-direction: row;
    margin: -12px;
  } 

  .product_owner {
    background-color: rgba(2, 135, 45, 1);
    width: fit-content;
    padding-inline: 15px;
    padding-block: 1px;
    color: white;
    border-radius: 7px;
  }

  .price {
     >b {
      font-size: 14px;
      font-weight: 700;
      color: rgba(2, 135, 45, 1);
      margin-left: 3px;
     }
  }
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  border-bottom: 2px solid black !important;
  margin-inline: 11px !important;
  padding: 0px !important;
  }

  .tab_menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 50px;
    .params {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 200px;
      >div:first-child {
        width: 70px;
        margin-right: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-right: 1px solid rgba(217, 217, 217, 1);
      }
      >div:last-child {
         >div:first-child {
          background-color: green;
          color: white;
          padding-inline: 10px;
          margin-inline: 3px;
          border-radius: 5px;
          font-size: 14px;
          font-weight: 500;
         }
         >div {
          background-color: white;
          color: black;
          margin-inline: 3px;
          padding-inline: 10px;
          border-radius: 5px;
          font-size: 14px;
          font-weight: 500;
         }
      }
    }
  }

.button_achat {
  background-color: rgba(2, 135, 45, 1);
  color: white;
  font-size: 14px;
  font-weight: 700;
  width: 190px;
  height: 32px;
  border: none;
  border-radius: 5px;
  margin-block: 10px;
}


.button_valider {
  background-color: rgba(2, 135, 45, 1);
  color: white;
  font-size: 14px;
  font-weight: 700;
  width: 155px;
  height: 43px;
  border: none;
  border-radius: 5px;
  margin-block: 10px;
}


.button_cancel {
  background-color: white;
  color: black;
  font-size: 14px;
  font-weight: 700;
  width: 155px;
  height: 43px;
  border: 1px solid black;
  border-radius: 5px;
  margin-block: 10px;
}

.horizontal_menu {
  padding-inline: 20px;
  padding-block: 15px;
  width: fit-content;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 1);
  >span {
    font-size: 16px;
    font-weight: 500;
    margin-inline: 10px;
    color: rgba(135, 135, 135, 1);
  }
}

.item-center {
  background-color: rgba(232, 232, 232, 1);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.config-section {
  align-self: flex-end;
  >div>span {
    color: white;
   font-weight: 400;
    font-size: 14px;
  }
}

.favoris_list {
  >div>span {
    color: white;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 500;
  }
}

/*     label */
 .text-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 }

/* test */

/* input */

.input-form {
 margin-block: 10px;
}

.label-input {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

.sidebare-contenainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px ;
}

.sidebare-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-input-2 {
  font-size: 10px;
  font-weight: 500;
  color: rgba(6, 172, 60, 1);
}

.button_Login {
  width: 410px;
  height: 47px;
  background-color: rgba(2, 135, 45, 1);
  color: white;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  margin-block: 10px;
}

.button_order {
  width: 210px;
  height: 47px;
  background-color: rgba(203, 47, 67, 1);
  color: white;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  margin-block: 10px;
}

.text-24-b {
  font-size: 24px;
  font-weight: bold;
}

.login-title {
  margin-block: 10px;
  width: 70%;
  text-align: center;
}

.input {
  width: 393px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 10px;
  margin-top: 10px;
}
/* input */

.card >div {
  width: 605px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  margin-block: 10px;
}

.card p {
  font-size: 18px;
  font-weight: 500;
  color: rgba(39, 36, 36, 1);
}

.card span {
  font-size: 12px;
  font-weight: 400;
  color: rgba(100, 100, 100, 1);
}

.input_style {
  width: 254px;
  border: 1px solid rgba(217, 217, 217, 1);
  height: 41px;
  padding-left: 10px;
  border-radius: 7px;
  margin-top: 5px;
}

.input_date_style {
  width: 134px;
  border: 1px solid rgba(217, 217, 217, 1);
  height: 41px;
  padding-left: 10px;
  border-radius: 7px;
  margin-top: 5px;
}

.input_area_style {
  width: 562px;
  border: 1px solid rgba(217, 217, 217, 1);
  min-height: 85px;
  padding-left: 10px;
  border-radius: 7px;
  margin-top: 5px;
}

.input_calendar_container {
  position: relative;
  width: fit-content;
}

.input_calendar_container .icon_date {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.input_container {
  width: fit-content;
  position: relative;
}
.input_container span {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

.bloc-center {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bloc-login {
  width: 453px;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.9);
  filter: blur(0.1px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 0px;
  opacity: 2;
  border-radius: 10px;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
